@media (max-width: 1920px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px!important;
        height: 120px!important;
    }
}

@media (max-width: 1680px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 1440px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 1360px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 1280px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 1152px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 1024px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 768px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }
    
    .sub-header-layout {
        height: 50px !important
    }

    .time-count {
        font-size: 18px!important;
        color: #007bff;
        font-weight: 700;
        width:180px;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

@media (max-width: 576px) {
    .text-header-operation {
        font-size: 18px !important;
        font-weight: 700 !important;
    }

    .text-manager-status {
        font-size: 16px !important;
    }

    .text-checklist-status {
        font-size: 12px !important;
    }

    .text-achivcar-header {
        font-size: 10px !important;
    }

    .text-achivcar-content {
        font-size: 8px !important;
    }

    .target-item {
        padding: 5px 5px !important;
        height: 120px !important;
    }
}

