html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrapper {
    text-align: center;
    padding: 10px;
}

.svn-card {
    background: #0e1213 none repeat scroll 0 0 !important; /*#332c61*/
    color: white !important;
}

.svn-layout {
    background-color: #1c2222 !important; /*#584ca3*/
}

.svn-border {
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}