html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrapper {
    text-align: center;
    padding: 10px;
}

.svn-card {
    background: #ffffff none repeat scroll 0 0 !important; /*#332c61 #0e1213*/
    /*color: white !important;*/
}

.svn-layout {
    /*background-color: #1c2222 !important;*/ /*#584ca3*/
}

.svn-border {
    /*border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;*/
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    /*border-color: #616f7e !important;*/
}